#table{
  border: 1px solid black;
  /* width: 25%; */
  /* float: right */
}

#left{
  float:left;
  width: 35%;
  background:#ad7e8f;
  height: 50%;
  overflow: scroll;
}

#middle{
  float:left;
  width: 25%;
  height: 50%;
  background:#dede95;
}

#right{
  float:right;
  width: 25%;
  height: 50%;
  background:#d4a4a4;
}
