html *{
  user-select: none !important;

}

.button{
  width: 100px;
  height: 30px;
  position: relative;
  background:white;
  z-index: 3;
  user-select: none;
  margin: 10px 0px;
}

.cooldown{
  z-index: -1;
  position:absolute;
  background: #777777;
  height:100%;
  width:100%;
  --timeToCooldown: 5s;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  animation: cooldown var(--timeToCooldown) linear forwards;

}

#cover{
  position: fixed;
  top: 0;
  left: 0;
  z-index:4;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: none;
}

#fireDisplay{
  /* float:right; */
  /* margin:auto; */
  top: 50px;
  right: 50px;
  position:absolute;
  width: 15%;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  --timeLeft: 0s;
  border-color: grey;
  border-width: thick;
  background: grey;
}

.runFireAnimation{
  animation: fireAnimation var(--timeLeft, 0s) linear forwards;
}

@keyframes fireAnimation{
  0%{background:red;transform: scale(2);}
  50%{background:yellow;}
  100%{background:grey;transform: scale(1);}
}

@keyframes cooldown {
  from {width:100%;}
  to {width:0%;}
}

.border{
  border: 1px solid black;
}

#left{
  float:left;
  width: 35%;
  background:#ad7e8f;
  height: 100%;
  font-size: 20px;
}

.tabLinks{
  /* display: none; */
  visibility: hidden;
}

#aSmallHut{
  background:#dede95;
}

#theWoods{
  background:#00eeee;
}

#theRiver{
  background:#ff0095;
}

#theClearing{
  background:#d0fe90;
}

#right{
  float:right;
  width: 25%;
  height: 100%;
  background:#d4a4a4;
  /* transition: background 2s; */
}

#allStuff{
  height:50%;
}

#middle{
  float:left;
  width: 30%;
  height: 100%;
  position: relative;
  --tabBarHeight: 30px;
}

#tabBar{
  /* position: absolute; */
  float: left;
  display: flex;
  width: 100%;
  height: var(--tabBarHeight);
  background: #23ddaa;
  z-index: 5;
  align-items: center;
  /* visibility: visible; */
}

#defaultOpen{
  visibility: visible;
}

/* #tabBar::before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */
.tabs button{
  float: left;
  cursor: pointer;
  height: fit-content;
  margin-left: 10px;
  background: inherit;
}

.tabs buttons.active{
  background: #ddd;
}

.tabContent{
  /* display: none; */
  visibility: hidden;
  /* clear: left;  */
  float:left;
  /* position: relative; */
  position: absolute;
  top: var(--tabBarHeight);
  width: 100%;
  height: calc(100% - var(--tabBarHeight));
}

#popup{
  user-select: none;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: all 1s;
  opacity: 0;
  width: 50%;
  height: 35%;
  z-index: 5;
  background:#ffffff;
  box-shadow: 10px 10px 5px #bbbbbb;
}

#popup.poppedUp, #cover.poppedUp{
  visibility: visible;
  opacity: 1;
  display: block;
  /* background:#aaaaaa; */
}

#prompt{
  /* position: absolute; */
  text-align: center;
  font-size: 35px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  user-select: none;
}

#accept{
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 25%;
  height: 15%;
  bottom: 10%;
  left: 10%;
  user-select: none;
}

#decline{
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 25%;
  height: 15%;
  bottom: 10%;
  right: 10%;
  user-select: none;
}

#eventsToggleDiv{
  position: absolute;
  bottom:0;
}

.runEventMissed{
  animation: eventMissed 3s linear;
}

@keyframes eventMissed{
  0%{background:red;}
  100%{background: white;}
}
