#table{
  border: 1px solid black;
  /* width: 25%; */
  /* float: right */
}

#left{
  float:left;
  width: 35%;
  background:#ad7e8f;
  height: 50%;
  overflow: scroll;
}

#middle{
  float:left;
  width: 25%;
  height: 50%;
  background:#dede95;
}

#right{
  float:right;
  width: 25%;
  height: 50%;
  background:#d4a4a4;
}

#popup{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 35%;
  z-index: 2;
  background:#ffffff;
  box-shadow: 10px 10px 5px #bbbbbb;
}
